.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .form {
    width: 100%;
    text-align: center;

    .inputs {
      width: 350px;
      margin: var(--padding-lg) auto;

      input {
        margin-bottom: var(--padding-sm);
      }

      .createAccount {
        width: 100%;
      }
    }
  }
}
