.modalCurtain {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: var(--backdrop-blur);
}

.modal {
  width: 500px;
  margin: 0 var(--padding-md);
  padding: var(--padding-xl);
  background-color: var(--background);
  border-color: var(--grey-3);
  border-width: var(--border-width);
  border-radius: var(--border-radius);

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      padding: 0;
      font-size: var(--font-size-md);
    }
  }
}
