.icon {
  margin: var(--padding-sm) var(--padding-md) var(--padding-sm) 0;
  font-size: var(--avatar-size);
}

.username {
  margin-left: var(--padding-md);
  margin-right: var(--padding-md);
}
