.button {
  padding: var(--padding-sm) var(--padding-lg);
  border-radius: var(--border-radius);
  font-size: var(--font-size-sm);

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    pointer-events: none;
    opacity: var(--disabled-opacity);
  }

  .spinner {
    margin-right: var(--padding-sm);
  }
}

.foreground {
  color: var(--background);
  background-color: var(--foreground);
  transition: opacity var(--transition-duration);

  &:hover,
  &:focus {
    opacity: var(--hover-opacity);
  }
}

.ghost {
  color: var(--foreground);
  background-color: var(--background);
  transition: background-color var(--transition-duration);

  &:hover,
  &:focus {
    background-color: var(--grey-3);
  }
}
