.button {
  padding: var(--padding-sm) var(--padding-lg);
  border-radius: var(--border-radius);
  font-size: var(--font-size-sm);

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}

.contrast {
  color: var(--background);
  background-color: var(--foreground);
  transition: opacity var(--transition-duration);

  &:hover {
    opacity: 0.8;
  }
}

.ghost {
  color: var(--foreground);
  background-color: transparent;
  transition: background-color var(--transition-duration);

  &:hover {
    background-color: var(--grey-dark);
  }
}
