.divider {
  display: flex;
  padding-top: var(--padding-md);
  padding-bottom: var(--padding-md);

  hr {
    border-top-width: 1px;
    width: 100%;
  }

  span {
    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);
    color: var(--grey-dark);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
  }
}
