.inputGroup {
  display: flex;
  align-items: center;
  border-color: var(--grey-3);
  border-width: var(--border-width);
  border-radius: var(--border-radius);

  &:focus-within {
    box-shadow: var(--halo-box-shadow);
  }

  input,
  textarea {
    border-width: 0;
    height: calc(var(--input-height) - 2 * var(--border-width));

    &:focus {
      box-shadow: none;
    }
  }
}
