.inputGroup {
  display: flex;
  border-color: var(--grey-dark);
  border-width: var(--border-width);
  border-radius: var(--border-radius);

  &:focus-within {
    box-shadow: var(--halo-box-shadow);
  }

  input,
  textarea {
    border-width: 0;

    &:focus {
      box-shadow: none;
    }
  }
}
