.popover {
  position: absolute;
  z-index: 100;

  .popoverContent {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: var(--padding-lg);
    border-color: var(--grey-3);
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    background-color: var(--background);
  }
}
