.spinner {
  margin-left: 4px;
  margin-right: 4px;
  font-size: var(--font-size-sm);
  animation: rotation 1s linear infinite;

  &.background {
    color: var(--background);
  }

  &.foreground {
    color: var(--foreground);
  }

  &.grey {
    color: var(--grey);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
