.brand {
  color: var(--foreground);
  font-size: var(--font-size-md);
  font-weight: 500;

  svg {
    margin-right: var(--padding-sm);
  }
}

.footer {
  color: var(--grey-light);
  font-size: var(--font-size-xs);

  a {
    color: inherit;
    text-underline-offset: 4px;
    transition: color var(--transition-duration-long);

    &:hover {
      color: var(--foreground);
    }
  }
}
